/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800'); */

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}
:root {
  --main-bg-color: #D2E4FF;
  --linear-gradient: linear-gradient(#FFFFFF, #2754B2);
  --main-color: #2755B2;
  --main-color-strong: #213787;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  background-color: var(--main-bg-color);
}