.ajudaScreen {
    background-color: #E3EFFF;
}

.ajudaScreen h2{
    font-family: Poppins;
    color: #215CB9;
    font-size: x-large;
    margin-bottom: 1%;
}

.ajudaScreen h3{
    font-family: Poppins;
    color: #213787;
    display: flex;
    position: absolute;
    margin-top: 6%;
    font-size: 1rem;
    width: 15%;
    padding: 15px;
}

.ajudaScreen ul {
    flex-wrap: wrap;
    margin: 0;
    gap: 3%;
}

.ajudaScreen li {
    width: 15%;
    height: fit-content;
    background-color: #F2F5F8;
    display: flex;
    flex-direction: column;
    border: 3px #587ACE solid;
    border-radius: 20px;
    list-style: none;
    text-align: start;
    gap: 100%;
    margin-bottom: 3%;
    cursor: auto;
}

.containerBotoes {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 85vw;
    height: 25vh;
}

.ajudaScreen .editar {
    background-color: #213787;
    width: 20%;
    height: 20%;
    border-radius: 10px;
    border: 5px solid #4D72DB;
}

.ajudaScreen .excluir {
    background-color: #4D72DB;
    width: 20%;
    height: 20%;
    border-radius: 10px;
    border: 5px solid #1B3381;
}

.ajudaScreen h5 {
    font-size: x-large;
    color: #E3EFFF;
}

.artigoImagem {
    width: 100%;
    height: auto; 
    border-radius: 20px;
    border: 2px #587ACE solid;
    margin-bottom: 41%;
}

.autorImagem {
    max-width: 30%;
    height: 30%;
    border-radius: 100%;
}

.ajudaScreen p {
    color: #2754B2;
    font-family: Poppins;
    font-size: small;
}

.addArtigo {
    position: fixed;
    height: 8%;
    width: 4%;
    background-color: #213787;
    border: 2px #5F86F7 solid;
    border-radius: 100%;
    color: #F2F5F8;
    margin-left: 90%;
    margin-top: 40%;
}

.ajudaScreen .pesquisar {
     margin-bottom: 2%;
}

.ajudaScreen input {
    background-color: #F2F5F8;
    border: 2px #6188C5 solid;
    border-radius: 10px;
    width: 80%;
    height: 5vh;
    padding-left: 20px;
    color: #2754B2;
    font-size: medium;
    font-weight: 500;
}

.conteudo {
    height: 100vh;
    offset: 0px;
    align-items:center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.foco {
    width: 85%;
    height: 70vh;
    background-color: #F2F5F8;
    border: 5px #6188C5 solid;
    border-radius: 10px;
}

.detalhesContainer {
    display: flex;
    align-items: flex-start;
}

.detalhesImagem {
    width: 20vw;
    height: 69vh; 
    margin-right: 20px;
    border-radius: 5px;
}

.detalhesTexto {
    display: flex;
    flex-direction: column; 
}

.detalhesTexto h3 {
    margin-top: 10px;
    font-size: x-large;
    width: 60%;
}

.detalhesTexto p {
    margin-top: 80px;
    margin-left: 15px;
    width: 90%;
    font-size: smaller;
}
.tela{
    width: 100vw;
    height: 100vh;
    margin-left: 10%;
}