.container{
    height: 100vh;
    width: 100vw;
    background-color: rgba(39, 85, 178, 0.7);
    position: fixed;
    z-index: 20;
    display: grid;
    place-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    background-color: #E3EFFF;
    border: solid 4px #2754B2;
    height: 90%;
    width: 90%;
    border-radius: 1rem;
    padding: 0 4% 2% 4%;
}
.contentHeader{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.contentHeader>p{
    color: #2755B2;
    font-size: 400%;
    padding: 1rem 0;
}
.closeButton{
    cursor: pointer;
    background-color: #2755B2;
    height: 50%;
    display: flex;
    padding: 1%;
    justify-content: center;
    align-items: center;
    color: white;
    aspect-ratio: 1/1;
    border-radius: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
}
.avataresField {
    flex-grow: 1;
    background-color: #7FB3FF;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    column-gap: 2rem;
    padding: 1rem;
    box-shadow: 14px 14px 20px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

.avataresField img { 
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 100%; 
    cursor: pointer;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.5);
}

  