
*{
    font-family: 'Poppins';
}

.container{
    display: grid;
    grid-template-columns: 7fr 4fr;
    height: 100vh;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4% 0 6% 0;
    background: linear-gradient(#FFFFFF, #2754B2);
}
.container header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h2{
    color: #001998;
    font-size: 1.5rem;
}
.container main{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 2%;
    align-items: center;
    margin-bottom: 5%;
}
.inputFieldContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 2rem;
}
.inputFieldContainer>div{
    display: flex;
    background-color: white;
    align-items: center;
    height: 5rem;
    border-radius: 34px;
    padding-right: 1rem;
}
.inputFieldContainer p{
    font-size: 2rem;
    text-wrap: nowrap;
    background-color: #2755B2;
    display: flex;
    align-items: center;
    padding: 0 5%;
    height: 100%;
    color: white;
    border-radius: 34px;
    margin-right: .5rem;
    margin-bottom: 0;
}
.inputFieldContainer input{
    width: 100%;
    font-size: 1.5rem;
    outline: none;
    border: none;
}
.inputFieldContainer img{
    height: 50%;
    cursor: pointer;
}
.container ul{
    display: grid;
    background-color: #EEF9FF;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    height: 4rem;
}
.container li{
    font-size: 1.5em;
    text-decoration: none;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #2754B2;
    cursor: pointer;
}
.container .selecionado{
    border-radius: 10px;
    background-color: #2754B2;
    color: white;
}

.checkboxField{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    color: white;
    align-items: center;

}
.checkboxField input{
    height: 2rem;
    aspect-ratio: 1/1;
}
.checkboxField span{
    color: #0040C0;
    cursor: pointer;
}
.checkboxField span:hover{
    text-decoration: underline;
}
.container aside{
    display: grid;
    place-items: center;
    background-color: #D2E4FF;
    font-size: 3rem;
    padding: 0 25%;
    text-align: center;
}
.container .content button{
    color: #1F55C6;
    background-color: #E2EFFF;
    width: 50%;
    border-radius: 32px;
    cursor: pointer;
    padding: 1rem 0;
    font-size: 2.5rem;
}

.container aside p{
    color: #213787
}


.inputFieldContainer .full{
    background-color: #2755B2;
    padding: 0;
}

.full p{
    width: 100%;
    background-color: transparent;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.topSide, .bottomSide{
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputFieldContainer .fileInput{
    justify-content: space-between;
}

.inputFieldContainer .fileInput>input{
    display: none;
}
.inputFieldContainer .fileInput>label{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputFieldContainer .fileInput>label>img{
    height: 50%;
}