
*{
    font-family: 'Poppins';
}

.container{
    background-color: black;
    display: grid;
    grid-template-columns: 7fr 4fr;
    height: 100vh;

}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0 10% 0;
    background: linear-gradient(#FFFFFF, #2754B2);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    color: #001998;
    font-size: 2rem;
}
main{
    height: 50%;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.inputFieldContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 2rem;
}
.inputFieldContainer>div{
    display: flex;
    background-color: white;
    align-items: center;
    height: 4rem;
    border-radius: 34px;
    padding-right: 1rem;
}
.inputFieldContainer p{
    font-size: 1.5rem;
    text-wrap: nowrap;
    background-color: #2755B2;
    display: flex;
    align-items: center;
    padding: 2rem;
    height: 4rem;
    color: white;
    border-radius: 34px;
    margin-right: .5rem;
    margin-bottom: 0;
}
.inputFieldContainer input{
    width: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
}
.inputFieldContainer img{
    height: 50%;
    cursor: pointer;
}
ul{
    display: grid;
    background-color: #EEF9FF;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    height: 4rem;
}
li{
    font-size: 1.5em;
    text-decoration: none;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #2754B2;
    cursor: pointer;
}
.selecionado{
    border-radius: 10px;
    background-color: #2754B2;
    color: white;
}

.checkboxField{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    color: white;
    align-items: center;

}
.checkboxField input{
    height: 2rem;
    aspect-ratio: 1/1;
}
.checkboxField span{
    color: #0040C0;
}
aside{
    display: grid;
    place-items: center;
    background-color: #D2E4FF;
    font-size: 3rem;
    padding: 0 25%;
    text-align: center;
}
.container .left button{
    color: #1F55C6;
    background-color: #E2EFFF;
    width: 50%;
    border-radius: 32px;
    cursor: pointer;
    padding: 1rem 0;
    font-size: 2.5rem;
}





