.chat-container {
    display: flex;
    height: 100vh;
    background: linear-gradient(to bottom, #EDF4FF, #BDDEFF);
}

.sidebar {
    width: 25%;
}

.sidebar-item {
    display: flex;
    align-items: center;
    height: 10%;
}

.profile-pic {
    width: 15%;
    height: 70%;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 50px;
}

.choiceRow {
    display: grid;
    justify-content: center;
    align-items: center;
}

.username {
    font-weight: bold;
    margin-bottom: 4%;
    margin-left: 10px;
    font-size: 30px;
    color: #215CB9;
}

.notification-badge {
    background-color: #f44336;
    color: white;
    border-radius: 50%;
    margin-left: auto;
    width: 5%;
    height: 25%;
}

.chat-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #EDF4FF, #BDDEFF);
    border-left: 5px solid #3758C3;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #2754B2;
}

.header-profile-pic {
    margin-right: 20px;
}

.header-username {
    font-weight: bold;
    font-size: 30px;
}

.status {
    margin-left: 10px;
    display: flex;
    font-size: 18px;
    margin-top: 5px;
}

.header-options {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.call-btn,
.video-btn,
.close-btn {
    border: none;
    color: white;
    font-size: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.timer {
    margin-left: 10px;
}

.chat-body {
    flex: 1;
    padding: 20px;
    background: none;
    overflow-y: auto;
}

.incoming {
    background-color: #85A3DC;
}

.message-response {
    margin-top: 150px;
    width: 60vw;
    height: 10vh;
    background-color: #85A3DC;
    border: 5px solid #4A6B9B;
    border-radius: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 6%;
}

.chat-actions {
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 1;
    margin-bottom: 27%;
}

.delete-request,
.accept-request {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 20px;
    border: 5px solid #4A6B9B;
    height: 10vh;
    width: 30vw;
}

.delete-request {
    background-color: #2754B2;
    color: white;
    font-size: xx-large;
    font-weight: 600;
}

.accept-request {
    background-color: #64b5f6;
    color: #2754B2;
    font-size: xx-large;
    font-weight: 700;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2754B2;
    border-radius: 100px;
    margin-bottom: 50px;
    width: 90%;
    margin-left: 5%;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border-radius: 100px;
    margin-right: 10px;
    background-color: #2754B2;
    color: white;
    font-size: xx-large;
    font-weight: 600;
}

.send-btn {
    background-color: #2196f3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}