.avatarContainer{
    height: 20rem;
    width: 100%;
    display: flex;
    align-items: end;
    position: relative;
}
.focusAvatar{
    height: 14rem;
    aspect-ratio: 1/1;
    border: 1rem solid #E3EFFF;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

}
.focusAvatar>img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: .5rem solid #1F55C6;
}
.avatarHorizontalList{
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: #7FB3FF;
    height: 80%;
    width: 100%;
    border-radius: 1rem;
    justify-content: space-between;
}
.avatarHorizontalList>div{
    display: flex;
    height: 100%;
    gap: 20%;
    align-items: center;
}
.imgContainer{
    height: 80%;
    aspect-ratio: 1/1;
    background-color: #5A8AD6;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #E3EFFF;
    font-size: 400%;
    font-weight: 900;
} 
.avatarHorizontalList img{
    height: 90%;
    width: 90%;
    border-radius: .5rem;
}