
*{
    font-family: 'Poppins';
}

.container{
    display: grid;
    grid-template-columns: 4fr 7fr;
    height: 100vh;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0 10% 0;
    background: linear-gradient(#FFFFFF, #2754B2);
}
.container header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h2{
    color: #001998;
    font-size: 1.5rem;
}
.container main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 5%;
    margin-bottom: 5%;
}
.inputFieldContainer{
    display: grid;
    width: 100%;
    gap: 2rem;
}
.inputFieldContainer>div{
    display: flex;
    background-color: white;
    align-items: center;
    height: 5rem;
    border-radius: 34px;
    padding-right: 1rem;
}
.inputFieldContainer p{
    font-size: 200%;
    text-wrap: nowrap;
    background-color: #2755B2;
    display: flex;
    align-items: center;
    padding: 0 5%;
    height: 100%;
    color: white;
    border-radius: 34px;
    margin-right: .5rem;
    margin-bottom: 0;
    width: fit-content;
}
.inputFieldContainer input{
    width: 100%;
    font-size: 2rem;
    outline: none;
    border: none;
}
.inputFieldContainer>div>div{
    display: flex;
    padding: 0 1rem;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}
.inputFieldContainer img{
    height: 50%;
    cursor: pointer;
}

.container aside{
    display: grid;
    place-items: center;
    background-color: #D2E4FF;
    font-size: 3rem;
    padding: 0;
    text-align: center;
}
.container aside p{
    color: #213787
}
.buttonField{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonField button{
    color: #1F55C6;
    background-color: #E2EFFF;
    width: 100%;
    border-radius: 32px;
    cursor: pointer;
    padding: 1rem 0;
    font-size: 2.5rem;
    font-weight: bolder;
}

.buttonField .cadastroField{
    background-color: #0B4ED7;
    width: 90%;
    border-radius: 0 0 32px 32px;
}
.cadastroField p{
    cursor: pointer;
    font-size: 1.3rem;
    padding: 1rem 0;
}
.forgotPasswordText{
    color: #213787;
    font-weight: bolder;
    font-size: 1.5rem;
    cursor: pointer;
    width: fit-content;
}
.forgotPasswordText:hover, .cadastroField p:hover{
    text-decoration: underline;
}