@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoCallme {
    position: fixed;
    margin-right: 70%;
    margin-bottom: 55%;
}

.LoginScreen {
    background: linear-gradient(to top, #2754B2, #FFFFFF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailLogin {
    margin-bottom: 2%;
}

.ladoEsquerdo {
    left: 0;
    top: 0;
    width: 40%;
    position: fixed;
    height: 100%;
    background-color: #E3EFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.ladoEsquerdo h1 {
    text-align: center;
    color: #213787;
    font-family: Arial, Helvetica, sans-serif;
}

.groupInput {
    margin-top: -10%;
}

.input-wrapper {
    height: 9vh;
    width: 35%;
}

.forgot-password {
    margin-right: 91%;
    margin-top: 0.5%;
    font-weight: 500;
    font-size: x-large;
}

.ladoDireito {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botaoLogin {
    padding: 30px 170px;
    background-color: #213787;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 100px;
    height: 8vh;
    width: 20%;
    margin-right: 60%;
    margin-top: 7%;
}

.backgroundEntrar {
    width: 15%;
    height: 2vh;
    background-color: #0B4ED7;
    opacity: 40%;
    border-radius: 0px 0px 100px 100px;
    margin-right: 60%;
    margin-bottom: 2%;
}

.botaoCadastro {
    padding: 30px 170px;
    background-color: #509CEF;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    height: 8vh;
    width: 20%;
    margin-right: 60%;
}

.backgroundCadastro {
    width: 15%;
    height: 2vh;
    background-color: #3572EF;
    border-radius: 0 0 100px 100px;
    margin-right: 60%;
}