.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BBCAE7;
    height: 100vh;
}

.menuContainer .carrossel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.menuContainer .carrosselContent {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.menuContainer .slide {
    min-width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.menuContainer .slide.active {
    opacity: 1;
}

.menuContainer button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.menuContainer button.prev {
    left: 10px;
}

.menuContainer button.next {
    right: 10px;
}

.menuContainer .botoes {
    margin-top: 20px;
}

.menuContainer .postar {
    background-color: #1F55C6;
    height: 8vh;
    width: 30%;
    margin-top: 20%;
    margin-left: -30%;
    border: 2px transparent solid;
    border-radius: 10px;
}

.menuContainer .responder {
    background-color: #1F55C6;
    height: 8vh;
    width: 30%;
    margin-top: 20%;
    margin-left: 10%;
    border: 2px transparent solid;
    border-radius: 10px;
}

.fundoSlide {
    position: absolute; 
    width: 20%;
    height: 40vh;
    margin-top: 8.8%;
    margin-left: -1%;
    background-color: #BCDDFF;
    border: 8px #020075 solid;
    border-radius: 5%;
    transform: rotate(-8deg);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.meioSlide {
    position: absolute; 
    width: 20.5%;
    height: 40vh;
    margin-left: 10.4%;
    margin-top: 10.6%;
    background-color: #FFFFD2;
    border: 8px #020075 solid;
    border-radius: 5%;
    z-index: 1;
    transform: rotate(-12deg);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.writeSlide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.5s ease-in-out;
    height: 40%; 
    width: 20%; 
    border: 8px #020075 solid;
    border-radius: 5%;
    background-color: #FEFEFE;
    margin-left: 6%;
    margin-top: -41%;
    z-index: 2;
}

.writeInput {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: xx-large;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BBCAE7;
    height: 100vh;
    position: relative;
}

.redSquare {
    position: absolute;
    height: 60%; 
    width: 20%; 
    margin-top: 6%;
    margin-left: 60%;
    background-color: #BDD8FF;
    border: 5px solid #1F55C6;
    border-radius: 20px;
    z-index: 1;
}

.moveLeft {
    transform: translateX(-50%); /* Move o writeSlide para a esquerda */
    transition: transform 0.5s ease-in-out; /* Animação suave */
}

.menuContainer .popUp {
    height: 10vh;
    width: 15vw;
    background-color: #1F55C6;
    color: #FEFEFE;
    margin-left: -40%;
    border: 5px solid transparent;
    border-radius: 30px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menuContainer .botoes {
    margin-top: 20px;
}

.menuContainer .botaoContainer {
    display: flex;
    gap: 10px;
}

.menuContainer .popSquare {
    position: absolute;
    top: 10px;
    transition: opacity 0.5s;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

.menuContainer .inputResponder {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.menuContainer .responderInput {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
}

.iconEnviar {
    cursor: pointer;
}