* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; 
}

.LoginScreen {
    width: 100vw;
}

.nota3, .nota2, .nota1 {
    height: 40vh;
    width: 20vw;
    border-radius: 25px;
    display: flex;
    position: absolute;
    border-width: 0.3vw;
    border-style: solid;
    border-color: #020075;
}

.nota3 {
    background-color: #BCDDFF;
    transform: rotate(-8deg);
    left: 10%;
    bottom: 5%;
}

.nota2 {
    background-color: #FFFFD2;
    transform: rotate(-12deg);
    left: -7%;
    bottom: 2%;
}

.nota1 {
    background-color: #FEFEFF;
    right: 30%;
    bottom: 10%;
}

.notas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    margin-left: 0; 
    left: 10%;
}

.nota {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 20px;
}

.pin {
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    border-width: 0.3vw;
    border-style: solid;
    border-color: #020075;
    background-color: #FFFFD2;
    position: absolute;
    top: 20vh;
    left: 41%; 
    transform: translate(-50%, -50%);
    z-index: 1;
}

.slide-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.botao-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.postar, .responder {
    padding: 30px 10%; 
    background-color: #213787;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 10vh;
    width: 20%;
    gap: 10%;
}

.menu-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #BBCAE7;
    align-items: center;
    justify-content: center;
}

.logoSimples {
    display: flex;
}

.input-responder {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.responderInput {
    width: 70%; 
    height: 22vh;
    padding: 10px 40px 10px 25px;
    border: 4px solid #1F55C6;
    background-color: #7FB3FF;
    color: #1F55C6;
    border-radius: 15px;
    font-size: 22px;
    outline: none;
    display: flex;
    margin-top: 78%;
    margin-left: -87%;
}

.icon-enviar {
    position: absolute;
    right: 900px;
    bottom: 50px;
    font-size: 40px;
    cursor: pointer;
    color: #213787;
}

.pop-square {
    width: 80%;
    height: 10.5vh;
    background-color: #7FB3FF;
    border: 4px solid #1F55C6;
    color: #1F55C6;
    border-radius: 15px;
    margin-top: 21.4%;
    margin-left: 5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in {
    opacity: 1;
    transform: scale(1);
}

.fade-out {
    opacity: 0;
    transform: scale(0.8);
}

.botao-container {
    display: flex;
    gap: 200px;
}

p {
    color: white;
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    width: 100%;
}

.botoes {
    display: flex;
    margin-top: 35%;
    position: fixed;
}

.carousel-control-prev,
.carousel-control-next {
    width: 100px;
    height: 100px;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #1F55C6;
    border-radius: 50%;
    width: 100%;
    height: 100%; 
}

.carousel-control-prev-icon {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel-control-next-icon {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}