.container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container header>div{
    position: absolute;
    right:0;
    background-color: #FFFFFF;
    width: 50%;
    border-radius: 64px 0 0 64px;
}
.container header>div>h1{
    padding: 2%;
    font-weight: bolder;
}
.container{
    padding: 4rem;
    background: rgb(227,239,255);
    height: 100vh;
    background: linear-gradient(180deg, rgba(227,239,255,1) 70%, rgba(39,84,178,1) 100%);
    display: flex;
    flex-direction: column;
}
.container h2{
    font-size: 300%;
}
.container h1, .container h2, .container p{
    color: #2755B2;
}
.mailInputField{
    display: flex;
    background-color: white;
    align-items: center;
    width: 60%;
    height: 7rem;
    border-radius: 34px;
    padding-right: 1rem;
}
.mailInputField p{
    font-size: 200%;
    text-wrap: nowrap;
    background-color: #2755B2;
    display: flex;
    align-items: center;
    padding: 0 5%;
    height: 100%;
    color: white;
    border-radius: 32px;
    margin-right: .5rem;
    width: fit-content;
}
.mailInputField>div{
    width: 100%;
}
.mailInputField input{
    display: flex;
    width: 100%;
    font-size: 2rem;
    outline: none;
    border: none;
}

.container button{
    background-color: #3572EF;
    color: white;
    padding: 1rem 4rem;
    font-size: 200%;
    border-radius: 32px;
    cursor: pointer;
}
.container main>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.container main>div>div{
    display: flex;
    flex-direction: column;
    gap: 10%;
    width: 100%;
}
.container main{
    display: flex;
    flex-grow: 1;
}
.container main aside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container p{
    font-size: 150%;
}