.container{
    display: flex;
    height: 100vh;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    flex-grow: 1;
    gap: 2rem;
}
.topContainerCliente,.topContainerOuvinte{
    display: flex;
    background-color: #7FB3FF;
    padding: 0 2rem;
    border-radius: .5rem;
    position: relative;
    justify-content: end;
    align-items: center;
}
.focusAvatar{
    height: 14rem;
    aspect-ratio: 1/1;
    border: 1rem solid #E3EFFF;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
}
.topContainerCliente{
    height: 20rem;
    width: 90%;
}
.topContainerOuvinte{
    height: 12rem;
    width: 100%;
    justify-content: space-between;
    padding: 0 10%;
}
.topContainerCliente>.focusAvatar{
    left: -7rem;
    top: 50%;
    transform: translate(0, -50%);
}
.topContainerOuvinte>.focusAvatar{
    top: -7rem;
    left: 50%;
    transform: translate(-50%, 0);
}
.avatarContent{
    background-color: #5A8AD6;
    display: flex;
    width: 90%;
    align-items: center;
    height: 80%;
    border-radius: .5rem;
    font-size: 450%;
    color: white;
    font-weight: bolder;
    padding: 0 5%;
    cursor: pointer;
}
.focusAvatar>img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: .5rem solid #1F55C6;
}
.topContainerOuvinte>.sizeField h2{
    color: white;
    font-size: 2rem;
}
.topContainerOuvinte>.sizeField p{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    color: #586BAF;
    font-size: 1.5rem;
}
.topContainerOuvinte>.sizeField span{
    color: #1F55C6;
    font-size: 1.5rem;
}
.inputFieldContainer{
    width: 100%;
    gap: 2rem;
    border: solid 6px #5A8AD6;
    padding: 2rem 4rem;
}
.inputFields{
    gap: 2rem;
    display: grid;
    grid-template-areas: 
    "nome nome"
    "email nascimento"
    "senha historico"
}
.nomeField{
    grid-area: nome;
}
.emailField{
    grid-area: email;
}
.nascimentoField{
    grid-area: nascimento;
}
.trocarSenhaField{
    grid-area: senha;
}
.historicoNotasField{
    grid-area: historico;
}
.inputFields>div,.inputFields>a{
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 32px;

}

.inputFields>div{
    background-color: #8CBAFF;
    overflow: hidden;
    border: solid 6px #2755B2;
}
.inputFields a{
    cursor: pointer;
    background-color: #2755B2;
    justify-content: center;
    gap: 1rem;
}
.inputFields>div>p{
    border-radius: 0 32px 32px 0;
    padding: 0 5%;

    }
.inputFields>div>p,.inputFields a>p{

    font-size: 200%;
    text-wrap: nowrap;
    background-color: #2755B2;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
}
.inputFields>div>div{
    flex-grow: 1;
    padding: 0 1rem;
}
.inputFields input{
    background-color: #8CBAFF;
    width: 100%;
    font-size: 2rem;
    outline: none;
    border: none;
}

.inputFields a img {
    height: 50px;
    width: auto; 
  }

.container .buttons{
    display: flex;
    justify-content: space-between;
    gap: 10%;

}
.buttons>button{
    margin-top: 2rem;
    flex-grow: 1;
    font-size: 1.5rem;
    padding: .5rem 0;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
.buttons>button:nth-child(1){
    background-color: rgb(243, 98, 98);
}
.buttons>button:nth-child(2){
    background-color: #5A8AD6;
}
.buttons>button:nth-child(3){
    background-color: #2755B2;
}
