.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .container>img{
    width: 70%;
    /* object-fit: cover; */

  }
  .container>div{
    height: 85%;
    width: 100%;
    background-color: #1F55C6;
    border-radius: 100px 100px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .iconDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon{
    background-color: #7FB3FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    width: 50%;
    aspect-ratio: 1/1;
  }
  .icon>img{
    width: 50%;
  }
  .point{
    position: absolute;
    right: 0;
      width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-right: 20px solid var(--main-bg-color);
  }

  